<td data-column="human_evaluations" id="human_evaluations_cell_<%= run.id %>">
  <%= render "prompt_tracker/shared/human_evaluations_cell", record: run, context: 'testing' %>
  <%= render "prompt_tracker/testing/tests/all_human_evaluations_for_run_modal",
              run: run %>
</td>
