<% content_for :breadcrumbs do %>
  <li class="breadcrumb-item"><%= link_to "OpenAI Assistants", testing_openai_assistants_path %></li>
  <li class="breadcrumb-item"><%= link_to @assistant.name, testing_openai_assistant_path(@assistant) %></li>
  <li class="breadcrumb-item active">Edit</li>
<% end %>

<div class="row">
  <div class="col-lg-8">
    <h1 class="mb-4">
      <i class="bi bi-pencil-square"></i> Edit Assistant
    </h1>

    <%= render "form", assistant: @assistant %>

    <hr class="my-4">

    <div class="card border-danger">
      <div class="card-header bg-danger text-white">
        <h6 class="mb-0">Danger Zone</h6>
      </div>
      <div class="card-body">
        <p class="mb-2">Delete this assistant and all associated tests and datasets.</p>
        <%= button_to "Delete Assistant", testing_openai_assistant_path(@assistant), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure? This will delete all tests and datasets for this assistant." } %>
      </div>
    </div>
  </div>
</div>

