<div class="modal fade" id="addRowModal" tabindex="-1" data-modal-fix-target="modal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Row Manually</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <%= form_with(model: @dataset.dataset_rows.build,
                    url: dataset_rows_path(@dataset),
                    method: :post) do |f| %>
        <div class="modal-body">
          <%= f.hidden_field :source, value: "manual" %>

          <%# Render shared form fields partial %>
          <%= render "prompt_tracker/testing/datasets/row_form_fields", dataset: @dataset, row: nil %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <% if @dataset.schema.present? %>
            <%= f.submit "Add Row", class: "btn btn-primary" %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
